<template name="application">

    {{> lightbox}}

    <div class="application">

        <div class="application-header">

            <div class="wrapper">

                <a href="{{pathFor 'readme'}}">Read Me</a>
                <a href="#" data-action="rooms:create">Create a room</a>

                <div class="ui--right">

                    {{#if currentUser}}

                        {{#userLink userId=currentUser._id}}
                            {{> userPhoto userId=currentUser._id size='small'}}
                            {{currentUser.profile.username}}
                        {{/userLink}}

                        <a href="#" data-action="logout">Logout</a>

                    {{else}}
                        <a href="#" rel="lightbox" data-lightbox="login">Login</a>
                    {{/if}}

                    <a href="#" rel="lightbox" data-lightbox="about" class="fa fa-info-circle"></a>

                </div>

            </div>

        </div>

        <div class="application-main">

            {{> yield}}

        </div>

    </div>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); 

    ga('create', 'UA-37511707-4', 'auto');
    ga('send', 'pageview');
    </script>
</template>
