@size-user-photo--small     : 22px;
@size-user-photo--medium    : 29px;
@size-header                : 60px;
@size-footer                : 60px;

@color-border               : #e4e4e4;
@color-chat-message         : darken(@color-background, 4%);
@color-chat-message--out    : #FDFDFD;
@color-chat-message--in     : @color-chat-message;
@color-header--dark         : #EE5572;
@color-header--light        : #F48E91;
@color-footer               : #FFF;
@color-background           : #F4EDED;
@color-text                 : #383535;
@color-text--light          : #C0BEBE;
@color-text--error          : #ff4038;