<template name="about">

    <a href="https://github.com/fstgerm/meteor-chat" class="ui-text--medium" target="_blank">
        <span class="ui-text--large"><i class="fa fa-github"></i></span><p>github.com/fstgerm/meteor-chat</p>
    </a>

    <br />

    <p>
        <iframe src="http://ghbtns.com/github-btn.html?user=fstgerm&repo=meteor-chat&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user=fstgerm&repo=meteor-chat&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user=fstgerm&type=follow&count=false" allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe>
    </p>

    <p>
        <iframe src="https://platform.twitter.com/widgets/tweet_button.html?size=s&url=http://meteor-chat.fstgerm.com&via=fstgerm&text=Facebook-like Meteor.js chat application&hashtags=meteorjs" style="width: 100px; height: 20px;" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
        <iframe src="//platform.twitter.com/widgets/follow_button.html?screen_name=fstgerm&show_count=false" style="width: 130px; height: 20px;" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
    </p>

</template>