@import '/client/less/import';

.chat-message {
    position: relative;
    margin: 11px 0;

    &-inner {
        display: inline-block;
        padding: 5px 8px;
        max-width: 70%;
        text-align: left;
        word-break: break-all;
        line-height: 1.34em;
        background: @color-chat-message;

        .border-radius(3px);
        .box-shadow(inset 0 -1px 0 0 rgba(0, 0, 0, 0.02));
    }

    &-date {
        text-align: center;
        font-weight: 600;
        font-size: 11px;
        height: 12px;
        color: @color-text--light;
    }

    &--unsent {
        opacity: 0.75;
    }

    &--out {
        text-align: right;
    }

    &--out &-inner {
        background: @color-chat-message--out;
    }

    .user-photo {
        position: absolute;
        left: -(@size-user-photo--medium + 6);
        top: -1px;
    }
}